.main {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.first-column, .second-column {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 4rem;
}

.first-column h2 {
    grid-column: span 12;
    grid-row: span 1;
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
    color: var(--header-text-color);
    text-shadow: 1px 1px 2px var(--header-text-color);
}

.first-column .card {
    background-color: var(--card-first-color);
}

.second-column h2 {
    grid-column: span 12;
    grid-row: span 1;
    padding: 2rem;
    text-align: center;
    color: var(--header-text-color);
    text-shadow: 1px 1px 2px var(--header-text-color);
}

.second-column .card {
    background-color: var(--card-second-color);
}

.card {
    grid-row: span 1;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px var(--header-text-color);
}

.card img {
    width: 100%;
    object-fit: cover;
    border: 4px double var(--header-text-color);
}

.card h3 {
    margin-top: 1rem;
}

.card p {
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    overflow-wrap: break-word;
    text-align: justify;
    color: #343434;
}

.card a{
    margin-top: 1rem;
    padding: 1rem;
    color: var(--page-text-color);
    background-color: var(--page-bg-color);
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px var(--page-text-color);
    text-decoration: none;
}

.card a:hover {
    color: var(--page-bg-color);
    background-color: var(--page-text-color);
}

@media (max-width: 50rem) {
    .first-column h2 {
        margin-top: 2rem;
    }

    .card {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
    
@media (min-width: 50rem) {
    .first-column .card {
        grid-column: span 4;
    }
    
    .second-column .card {
        grid-column: span 3;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 1fr auto;
    }
    
    .card img {
        grid-column: span 12;
        grid-row: span 1;
    }

    .card h3 {
        grid-column: span 12;
        grid-row: span 1;
        text-align: center;
    }

    .card p {
        grid-column: span 12;
        grid-row: span 1;
    }

    .card a{
        grid-column: 3 / span 8;
        grid-row: span 1;
        padding: 1rem 0;
        text-align: center;
    }
}