.footer-list {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link {
    padding: 0.5rem 1rem;
    font-size: small;
    font-weight: 700;
    text-decoration: none;
    border-radius: 1rem;
    color: aliceblue;
}

.footer-link:hover {
    color: #343434;
    background-color: aliceblue;
}